
<div class="home-content">
  <div class="text">
    <p>Rejoignez notre espace de coworking, spécialement adapté aux professionnels de la tech !
    Chez CoWorkFrance, vous bénéficiez :
      <ul>
        <li>d'une connexion internet très haut débit,</li>
        <li>d'une imprimante,</li>
        <li>d'un casier personnel,</li>
        <li>d'un espace de réunion</li>
        <li> et bien plus encore !!</li>
      </ul>
     </p>
    <br>
    <p>Nous sommes victimes de notre succès : il n'y a actuellement plus de place disponible 😱</p>
    <p>Rassurez-vous, vous pouvez vous inscrire pour figurer sur notre liste d'attente, nous vous recontacterons dès qu'une place se libèrera !!</p>
  </div>
  <div class="form">
    <%= simple_form_for @freelancer do |f| %>
      <%= f.input :name, :label => "Nom", :placeholder => "Dupond" %>
      <%= f.input :email, :label => "Email", :placeholder => "charles.dupond@gmail.com" %>
      <%= f.input :phone_number, :label => "Téléphone", :placeholder => "0615381224" %>
      <%= f.input :biography, :label => "Biographie", :placeholder => "Courte biographie", :input_html => {:rows => 4} %>
      <div class="btn">
        <%= f.button :submit, "Soumettre", class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>

