
<div class="home-content">
  <div class="text">
    <p>Rejoignez notre espace de coworking, spécialement adapté aux professionnels de la tech !</p>
    <br>
    <p>Inscrivez-vous pour figurer sur notre liste d'attente, nous vous recontacterons dès qu'une place sera disponible.</p>
  </div>
  <div class="form">
    <%= simple_form_for @freelancer do |f| %>
      <%= f.input :name, :label => "Nom", :placeholder => "Dupond" %>
      <%= f.input :email, :label => "Email", :placeholder => "charles.dupond@gmail.com" %>
      <%= f.input :phone_number, :label => "Téléphone", :placeholder => "0615381224" %>
      <%= f.input :biography, :label => "Biographie", :placeholder => "Courte biographie", :input_html => {:rows => 4} %>
      <div class="btn">
        <%= f.button :submit, "Soumettre", class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>

