
<div class="home-content">
  <div class="text">
    <p>Rejoignez notre espace de coworking, spécialement <strong>adapté aux professionnels de la tech,</strong>
      et bénéficiez de nombreux avantages !
    </p>
    <div class="avantages">
      <div class="card-avantage">
        <div class="card-avantage-image">
          <%= image_tag "workstation.png", alt:"bureau", class: "card-avantage-image"%>
        </div>
        <div class="card-avantage-text">
          <p>Station de travail avec imprimante</p>
        </div>
      </div>
      <div class="card-avantage select">
        <p class="para"></p>
        <div class="card-avantage-image" style='background-image: url(<%= asset_path "internet.png" %>)'>
        </div>
        <div class="card-avantage-text" >

        </div>
      </div>
      <div class="card-avantage">
        <div class="card-avantage-image">
          <%= image_tag "worktogether.png", alt:"internet", class: "card-avantage-image"%>
        </div>
        <div class="card-avantage-text">
          <p>Espace de réunion</p>
        </div>
      </div>
    </div>
    <p>Vous bénéficierez également d'un casier personnel, d'un espace bar, et bien plus encore !!!
      Nous sommes victimes de notre succès : il n'y a actuellement plus de place disponible 😱. Inscrivez-vous
      dès à présent sur notre liste d'attente, nous vous recontacterons dès qu'une place se libèrera !
    </p>
  </div>
  <div class="form">
    <%= simple_form_for @freelancer do |f| %>
      <%= f.input :name, :label => "Nom", :placeholder => "Dupond" %>
      <%= f.input :email, :label => "Email", :placeholder => "charles.dupond@gmail.com" %>
      <%= f.input :phone_number, :label => "Téléphone", :placeholder => "0615381224" %>
      <%= f.input :biography, :label => "Biographie", :placeholder => "Courte biographie", :input_html => {:rows => 4} %>
      <div class="btn">
        <%= f.button :submit, "Soumettre", class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
<script>
const card = document.querySelector('.select');
const text = document.querySelector('.para');
function addCardText(){
  text.classList.add('visible');
  text.innerText = 'Internet très haut débit';
}
function removeCardText(){
  text.classList.remove('visible');
  text.innerText = '';
}
card.addEventListener('mouseover', addCardText);
card.addEventListener('mouseout', removeCardText);
</script>

