<div class="main-container">
  <div class="banner" style="background-image: url(https://images.unsplash.com/photo-1594732832278-abd644401426?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3000&q=80)">
    <div class="title">
      <h1>Bienvenue chez CoWorkFrance</h1>
      <h2>Le spécialiste du coworking tech</h2>
    </div>
  </div>
  <div class="content">
    <div class="text">
      <p>Rejoignez notre espace de coworking, spécialement adapté aux professionnels de la tech !</p>
      <br>
      <p>Inscrivez-vous pour figurer sur notre liste d'attente, nous vous recontacterons dès qu'une place sera disponible.</p>
    </div>
    <div class="form">
      <%= simple_form_for @freelancer do |f| %>
        <%= f.input :name, :label => "Nom", :placeholder => "Dupond" %>
        <%= f.input :email, :label => "Email", :placeholder => "charles.dupond@gmail.com" %>
        <%= f.input :phone_number, :label => "Téléphone", :placeholder => "0615381224" %>
        <%= f.input :biography, :label => "Biographie", :placeholder => "Courte biographie" %>
        <%= f.button :submit, "Soumettre", class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
